---
- name: Install more CLI tools (Homebrew)
  become: true
  become_user: '{{ my_user }}'
  community.general.homebrew:
    name:
      - bat # to get newer version with --language help
      - bandwhich
      - dust
      - gh
      - git-delta
      - git-interactive-rebase-tool
      - lsd
      - procs
      - sd
      - starship
      - tokei
      - watchexec
      - yq
    state: present
  environment:
    HOMEBREW_INSTALL_FROM_API: '1'
