# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Defaults for all editor files
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Files with a smaller indent
[{*.yml,Vagrantfile,Customfile.example,Customfile,.vagrantuser.example,.vagrantuser}]
indent_size = 2

# Shell scripts can be fussy about line endings
[*.{sh,zsh}]
end_of_line = lf

# Match shfmt
[*.sh]
indent_style = tab

# Follow VS Code defaults
[devcontainer.json]
indent_style = tab
