---
# Nugrant https://github.com/maoueh/nugrant configuration file
# Rename this file to: .vagrantuser

# If you want some of your configuration to be inherited by multiple projects
# you can also put configuration in the the following files:
#
# $SYSTEM/.vagrantuser
# ~/.vagrantuser

# Uncomment the line below to accept the "Oracle Binary Code License Agreement for the Java SE Platform Products and JavaFX" under the terms at http://www.oracle.com/technetwork/java/javase/terms/license/index.html
# java_license_declaration: 'I accept the "Oracle Binary Code License Agreement for the Java SE Platform Products and JavaFX" under the terms at http://www.oracle.com/technetwork/java/javase/terms/license/index.html'
# Tip: place a copy of .vagrantuser in your home directory so you only have to do this once.

# Uncomment the section below to configure your proxy settings.
# proxy:
#   enabled: true
#   http: 'http://example.com:3128/'
#   https: 'http://example.com:3128/'
#   ftp: 'http://example.com:3128/'
#   no_proxy: 'localhost,127.0.0.1'

# Uncomment the section below if you need to configure a different proxy for APT.
# apt_proxy:
#   http: 'http://example.com:3128/'
#   https: 'http://example.com:3128/'
#   ftp: 'http://example.com:3128/'

# Uncomment the section below if you need to configure a different proxy for Git.
# git_proxy:
#   http: 'http://example.com:3128/'

# Uncomment (and configure) the section below to use proxy auto configuration
# for the Gnome desktop.
# gnome_proxy:
#   mode: auto
#   autoconfig_url: 'http://example.com/proxy.pac'

# For the American developers uncomment the lines below to set your timezone, locale and keyboard.
# timezone: 'America/Los_Angeles' #https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# locales:
#   default: en_US.UTF-8
# keyboard:
#   layout: us
# Tip: place a copy of .vagrantuser in your home directory so you only have to do this once.

# Uncomment the section below if you want to skip any of the tags in the playbook
# ansible:
#   skip_tags:
#     - atom
#     - backup
#     - chrome
#     - docker
#     - git-credential-manager
#     - golang
#     - gradle
#     - gui
#     - hub
#     - intellij
#     - java
#     - kubernetes
#     - molecule
#     - nodejs
#     - oh-my-zsh
#     - postman
#     - python
#     - sdkman
#     - vscode

# Uncomment the section below to change any of the VirtualBox Settings
# virtualbox:
#   name: development-environment
#   gui: true
#   cpus: 2
#   vram: '64'
#   accelerate3d: off
#   memory: '4096'
#   clipboard: bidirectional
#   draganddrop: bidirectional
#   audio: dsound
#   audiocontroller: ac97

# Uncomment the line below if you prefer a different dock positon (LEFT, RIGHT, BOTTOM)
# dock_position: BOTTOM

intellij:
# Uncomment the line below to install IntelliJ IDEA Ultimate rather than Community
#   edition: ultimate
# Uncomment the line below to install your IntelliJ IDEA Ultimate license key
#   license_key_path: '/vagrant/idea.key' # You need to copy your licence key from ~/.IntelliJIdea2017.1/config/idea.key into the project root.
