---
# Nugrant https://github.com/maoueh/nugrant configuration file
# Rename this file to: .vagrantuser

# If you want some of your configuration to be inherited by multiple projects
# you can also put configuration in the the following files:
#
# $SYSTEM/.vagrantuser
# ~/.vagrantuser

# Uncomment the line below to accept the "Oracle Binary Code License Agreement for the Java SE Platform Products and JavaFX" under the terms at http://www.oracle.com/technetwork/java/javase/terms/license/index.html
# java_license_declaration: 'I accept the "Oracle Binary Code License Agreement for the Java SE Platform Products and JavaFX" under the terms at http://www.oracle.com/technetwork/java/javase/terms/license/index.html'
# Tip: place a copy of .vagrantuser in your home directory so you only have to do this once.

# Uncomment the section below if you want to skip any of the tags in the playbook
# ansible:
#   skip_tags:
#     - unison
#     - docker
#     - nodejs
#     - java
#     - gui

# Uncomment the section below to change any of the VirtualBox Settings
# virtualbox:
#   name: development-environment
#   gui: true
#   cpus: 2
#   vram: '64'
#   accelerate3d: off
#   memory: '4096'
#   clipboard: bidirectional
#   draganddrop: bidirectional
#   audio: dsound
#   audiocontroller: ac97
