[Unit]
Description=Unison file-synchronizer
After=multi-user.target

[Service]
Environment="PATH=/usr/bin"
ExecStartPre=/usr/bin/unison vagrant -silent=true
ExecStart=/usr/bin/unison vagrant -silent=true -repeat=watch
User=vagrant

[Install]
WantedBy=multi-user.target
