[Desktop Entry]
Version=1.0
Type=Application
Name={{ idea_application_name }}
Icon={{ idea_install_dir }}/bin/idea.png
Exec="{{ idea_install_dir }}/bin/idea.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass={{ idea_startup_wm_class }}
