---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

/* Project specific customizations */

/* Disble circular clipping of company logo. */
.author__avatar img {
  border-radius: 0
}

/* Numbered inline table of contents. */
ol.inline_toc {
  font-size: $type-size-6;
  font-weight: bold;
  line-height: 1.5;
}

ol.inline_toc, ol.inline_toc ol {

  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;

  > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;

    &:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6em;
    }

    ol > li {
      margin: 0;
      &:before {
        content: counters(item, ".") " ";
      }
    }
  }
}

/* Numbered headings. */
body {counter-reset: h2}
  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}

.numbered_headings {
  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) " "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) " "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " "}

  h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
}

/* News feed on home page. */
.home_news {
  border-bottom: 1px solid #f2f3f3;
  margin-bottom: 1.5em;
}
