<application>
  <component name="DefaultFont">
    <option name="VERSION" value="1" />
    <option name="FONT_FAMILY" value="JetBrainsMono Nerd Font" />
    <option name="USE_LIGATURES" value="true" />
    <option name="SECONDARY_FONT_FAMILY" value="Noto Color Emoji" />
  </component>
</application>
