name: Verify

on:
  pull_request: {}

env:
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install Vagrantfile lint tool
        run: sudo gem install rubocop

      - name: Install Ansible
        run: pip3 install --user ansible==2.9.19

      - name: Check ansible version
        run: ansible --version

      - name: Vagrantfile syntax check
        run: rubocop ./Vagrantfile --except LineLength,BlockLength,Eval,MutableConstant,FormatStringToken,EmptyLinesAroundArguments,IfUnlessModifier

      - name: Install Ansible roles
        run: ansible-galaxy install --role-file=provisioning/requirements.yml "--roles-path=$HOME/roles"

      - name: Ansible syntax check
        run: ansible-playbook provisioning/playbook.yml --inventory=tests/inventory --syntax-check
        env:
          ANSIBLE_ROLES_PATH: '$HOME/roles'

      - name: Login to Docker Hub
        if: "!github.event.pull_request || (github.event.pull_request.head.repo.full_name == github.repository && !startsWith(github.head_ref, 'dependabot/'))"
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build docs
        run: (cd docs && sudo chmod go+rw -R . && ./build.sh)

